
body{
    margin: 0;
    width: 100%;
    font: normal 400 1.4rem / 1.8 "Helvetica Neue", sans-serif;
}
header{
    background-image: url("./images/hero-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    /* background-position: left -40px; */
    object-fit: cover;
    color: white;
    /* margin-top: -5rem; */
    font-size: 20px;
}
.logos1, 
li{
    list-style: none;
}
.nav-container{
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.list{
  display: flex;
  justify-content: center;
  align-self: center;
  list-style: none;
  align-items: center;
  gap: 2rem;
  padding-left: 12rem;
  
}
.lia{
    display: flex;
    justify-content: center;
    padding-left: 40rem;
    gap: 1rem;
    /* padding-right: rem; */
}

.list a{
  color: #f8f9fa;
  font-size: 12px;
  position: relative;
  text-decoration: none;
  letter-spacing: 0.5px;
  padding: 0 5px;
}
.mb{
  text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 100;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.bk{
  text-transform: uppercase;
    font-weight: 400;
   font-size: 50px;
    display: flex;
    justify-content: center;
    line-height: 3rem;
}
.get{
    font-weight: 500;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.left, .right{
  width: 10rem;
  /* height: 3rem; */
  background-color: #f8f9fa;
  /* background-repeat: no-repeat; */
}
.menu{
    display: none;
}
img{
    max-width: 100%;
    height: auto;
}


.nav-container{
    margin-left: 2rem;
    position: fixed;
  animation: scroll-transition;
  animation-timeline: scroll(y);
}
@keyframes scroll-transition{
    0%(
        background-color: transparent;
    )
    0.1%(
        background-color: #f6f6f6;
        color: #000;

    )
    100%(
        background-color: #f6f6f6;
        color: #000;
    )
}
.btn1, .btnn2{
    background-color: transparent;
    color: #f6f6f6;
    padding: 10px;
    border-color: rgb(214, 147, 22);
    border-radius: 5px;
    font-size: 12px;
}
.sec2{
    padding-top: 5rem;
    display: flex;
    justify-content: center;

}
.mobile{
    margin-top: 8rem;
}
.logo-container{
    display: flex;
    justify-content: center;
    text-decoration: none;
    gap: 1rem;
    background-color: #f8f9fa;
    
}
.mb, .book, .get, .btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logo_1{
    height: 4rem;
    width: 4rem;
}
.sec3{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
    padding: 0rem 15rem;
}
.texts{
    margin: 4rem auto;
    max-width: 1200px;
}
.img3{
    width: 93%;
    display: flex;
    justify-content: center;
}

.sec3 h3{
    font-size: 20px;
    font-weight: 500;
}
.sec3 p{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 15px;
}
.btn3{
    background-color: transparent;
    color: #333;
    padding: 15px;
    border-color: #6c757d;
    border-radius: 5px;
    font-size: 13px;
}
.btn3-cont{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.box{
    background-image: url("./images/bg-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    width: auto;
    object-fit: cover;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 8rem;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 2rem;
}
.book{
    font-size: 30px;
    font-weight: 600;
}
.book-sec{
    gap: 5rem;
    font-size: 15px;
}
.book-sec2{
  gap: 5rem;
  font-size: 15px;
  margin-top: 7rem;
}
.book-sec h3{
    font-weight: 500;
}
.inner-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}
.texts{
    display: grid;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    margin: 3rem;
    line-height: 30px;
    margin-top: 2rem;
}
.texts h3, .texts p {
    margin-top: 1px;
}


.promotion{
    background-image: url("https://glamdeva.com/source/assets/images/promo-bg.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    margin-top: -1rem;
}
.join{
    background-color: #282828;
    width: 16rem;
    height: 10rem;
    font-size: medium;
    font-weight: 300;
    margin-left: 27rem;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    margin-top: -12rem;
    line-height: 2rem;
    color: #f6f6f6;
}
.btn4{
    padding: 0.5rem;
    background-color: #6c757d;
    border-radius: 5px;
    border-color: transparent;
    color: #f6f6f6;
}
.makeup{
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 2rem;
    gap: 2rem;
}
.img-artist1, .img-artist2, .img-artist3 {
    background-color: #f8f9fa;
    border-radius: 10px;
    width: 26%;
    line-height: 1.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: gray 0px 0px 5px 0px;
}
.latest-cont{
    display: flex;
    justify-content: center;
    gap: 50%;
    margin-top: 2rem;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.btn5{
    padding: 0.8rem;
    background-color: #dc3545;
    border-radius: 5px;
    border-color: transparent;
    color: #f6f6f6;
}
.hair{
    width: 700px;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}
.break{
    color: #dc3545;
    padding-left: 4rem;
}
.breaks{
    color: #dc3545;
}
.makeup p, .makeup h3{
    gap: 1rem;
    margin-left: 1rem;
}

.home{
    display: flex;
    justify-content: center;
    color: #f8f9fa;
    gap: 3rem;
    font-size: 17px;
    font-weight: 100;
}
.ft-sec{
    background-color: #07182a;
    margin-top: 5rem;
    padding: 2rem;
}
.footer-logo{
    width: 6rem;
    height: 6rem;
}
.ft-lg{
    display: flex;
    justify-content: center;
    padding-left: 40rem;
    padding-right: 35rem;
}
.logos5{
    display: flex;
     gap: 1rem;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.logos-ft{
    width: 4rem;
    height: 4rem;
   
}
.big1{
    width: 7rem;
    display: flex;
    justify-content: center;
}
.big2{
    width: 7rem;
    display: flex;
    justify-content: center;
}
.line{
    width: 18px;
    background-color:  #dc3545;
    padding: 0.1rem;
    margin: 0rem;
}
.linee{
  display: flex;
  width: 15px;
    background-color:  #dc3545;
    padding: 0.1rem;
    margin-top: -2rem;
    margin-left: 8rem;
}
.lines{
    height: 40px;
    display: flex;
    justify-content: center;
}
.ft-last{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 0rem;
  background-color: #060907;
  width: auto;
  gap: 5rem
}
.ft-imgs{
  display: flex;
  width: 1rem;
  height: 1rem;
  gap: 1rem;
  margin-top: 1rem;
}
.ft-text{
    color: #285f36;
    font-size: 15px;
}

@media screen and (max-width: 768px) {

  
  body{
    max-width: 100%;
  }
  header{
    background-image: none;
    background-image: url("/images/pjt2BG.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    font-size: 5px;
    padding-left: 2rem;
  }
  .list{
    display: flex;
    justify-content: center;
  }
  .logo-container{
    flex-wrap: wrap;
    align-items: center;
    gap: 0;
  }
  .left, .right{
    width: 2rem;
    height: 2rem;
    gap: 0;
  }
  .logos1, .logos2{
    /* flex-wrap: wrap; */
    /* align-items: center; */
    width: 3rem;
    /* display: flex;
    justify-content: center; */
  }
  .logos3{
    display: none;
  }
  
  .lia {
    display: none;
  }

  .menu {
    width: 2rem;
    height: 1.5rem;
    display: block;
    margin-top: 1.5rem;
    /* margin-left: 28rem;a1`  */
  }
  .logo_1{
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
  }
.icons{
  width: auto;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  margin-top: 1rem;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 10rem;
}
  .list {
    padding-left: 2rem;
    /* grid-area: ``; */
  }
  .btnn2, .btn3{
    background-color: white;
    color: black;
    padding: 15px;
    border-color: rgb(214, 147, 22);
    border-radius: 5px;
    width: 15rem;
}
.btn3{
margin-bottom: 1rem;
}


  .mobile{
    /* margin-top: -2rem; */
  }
  .mobile h2 {
    font-size: 1.6rem;
    text-align: center;
  }

  .mobile h4 {
    font-size: 1rem;
    padding: 0 1rem;
    text-align: center;
  }

  .logos {
    display: none;
  }

  .sec3, .makeup {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
    gap: 2rem;
    margin-top: 1rem;
    text-align: center;
  }
  .logo-container{
    padding: 0 2rem;
    gap: 2rem;
    margin-top: 1rem;
    text-align: center;
  }

  .box {
    padding-left: 5rem;
    width: auto;
    margin: 0rem;
    flex-direction: column;
  }

  .book {
    display: flex;
    justify-content: center;
    margin-left: 0;
    text-align: center;
    font-size: 17px;
  }

  .book-sec {
    flex-wrap: wrap;
    justify-content: center;
    /* margin-left: -40rem; */
    text-align: center;
  }
  .book-sec2{
    margin-top: 1rem;
  }
  .linee{
    /* margin-left: -1rem; */
    margin-top: -1rem;
  }
  .texts{
    /* margin: 2rem ; */
  }
  .promotion {
  height: 300px;
  background-position: center;
  margin-top: 2rem;
}

.join {
  width: 70%;
  max-width: 300px;
  height: auto;
  margin: -10rem 4rem 0;  
  padding: 1rem;
  text-align: center;
}
.latest-cont {
  flex-wrap: wrap;
  align-items: center;
  gap: 6rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 12px;
}
.line{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.btn5{
    padding: 0.5rem;
}
.latest-cont button {
  margin-top: 0.5rem;
  font-size: 12px;
}
  .makeup {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .img-artist1, .img-artist2, .img-artist3 {
    flex-direction: column;
    align-items: center;
    width: 95%;
    /* height: auto; */
    
  }
 
 
  .hair{
    width: 100%;
  }

  .ft-lg, .logos5 {
    margin-left: 0;
    padding: 0;
    justify-content: center;
  }

  .home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 0.5rem;
  }
  .logos-ft{
    width: 2rem;
  }
  .big1, .big2{
    width: 4rem;
  }
.ft-lg{
  /* width: 4rem; */
  /* height: 4rem; */
}
.ft-sec{
  font-size: 15px;
}
.home{
  gap: -1rem;
}
.ft-last{
  flex-direction: column-reverse;
  padding: 1rem;
  align-items: center;
  text-align: center;
  gap: 0;
}
.ft-imgs{
  display: flex;
  justify-content: center;
}

}

@media screen and (min-width: 769px) and (max-width: 1300px) {

  header{
    background-size: cover;
    background-position: center;
    height: 100%;
    font-size: 8px;
  }
  .list{
    gap: 2rem;
  }
  .lia {
    padding-left: 5rem;
  }
  .btn2{
    font-size: 10px;
    padding: 1rem;
  }
  .logo-container{
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    /* max-width: 100%; */
  }
  .logos{
    display: none;
    gap: 5rem;
  }
  .logos1, .logos2, .logos3{
    /* display: flex; */
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 5rem;
    /* gap: 1rem; */
  }
  .left, .right{
    width: 4rem;
  }
  .sec3 {
    padding: 0 5rem;
    gap: 2rem;
  }

  .makeup {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    
  }

  .img-artist1, .img-artist2, .img-artist3{
    width: 50%;

  }
.img-artist2, .img-artist3{
    /* display: none; */
}
.latest-cont{
    gap: 5rem;
    font-size: 12px;
}
.btn5{
    font-size: 12px;
    padding: 0.4rem;
    margin-top: 1rem;
}
  .box{
    width: auto;
    /* height: auto; */
    /* margin-left: -20rem; */
    flex-direction: column;
    justify-content: right;
  }
  .book{
    font-size: 20px;
    margin-top: -2rem;
  }
  .book-sec {
    /* flex-direction: column; */
    font-size: 15px;
    /* margin-left: -11rem; */
    /* gap: 3rem; */
    margin-top: 3rem;
  }
  .book-sec2{
    margin-top: -1rem;
  }
  .promotion {
    height: 300px;
    margin-top: 2rem;
  }

  .join {
    width: 12rem;
    height: 10rem;
    margin-left: 12rem;
    margin-top: -12rem;
    padding: 3rem;
    text-align: left;
  }

  .ft-lg {
    /* display: flex; */
    /* justify-content: center; */
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .logos-ft {
    padding-left: -10rem;
    width: 3rem;
  }
 .big1{
    width: 8rem;
 }
}